<form id="pagerForm" method="post" action="demo_page1.html">
  <input type="hidden" name="status" value="${param.status}">
  <input type="hidden" name="keywords" value="${param.keywords}" />
  <input type="hidden" name="pageNum" value="1" />
  <input type="hidden" name="numPerPage" value="${model.numPerPage}" />
  <input type="hidden" name="orderField" value="${param.orderField}" />
</form>


<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" action="demo_page1.html" method="post">
  <div class="searchBar">
    <table class="searchContent">
      <tr>
        <td>
          专业名称：<input type="text" name="keyword" />
      </tr>
    </table>
    <div class="subBar">
      <ul>
        <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
      </ul>
    </div>
  </div>
  </form>
</div>
<div class="pageContent">
  <div class="panelBar">
    <ul class="toolBar">
      <li><a class="add" href="speciality_add" target="dialog" mask="true"><span>添加</span></a></li>
      <li><a class="delete" href="user_del?uid={sid_specialities}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
      <li><a class="edit" href="speciality_modify?uid={sid_specialities}" target="dialog" mask="true"><span>修改</span></a></li>
      <li class="line">line</li>
    </ul>
  </div>
  <table class="table" width="100%" layoutH="115">
    <thead>
      <tr>
        <th width="200">编号</th>
        <th>专业名称</th>
        <th width="200">系别</th>
        <th width="200">年制</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i<specialities.length; i++) { %>
        <tr target="sid_specialities" rel="<%= specialities[i].id %>">
          <td><%= specialities[i].id %></td>
          <td><%= specialities[i].name %></td>
          <td><%= specialities[i].department %></td>
          <td><%= specialities[i].year %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  </div>
</div>
