<form id="pagerForm" method="post" action="demo_page1.html">
  <input type="hidden" name="status" value="${param.status}">
  <input type="hidden" name="keywords" value="${param.keywords}" />
  <input type="hidden" name="pageNum" value="1" />
  <input type="hidden" name="numPerPage" value="${model.numPerPage}" />
  <input type="hidden" name="orderField" value="${param.orderField}" />
</form>


<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" action="demo_page1.html" method="post">
  <div class="searchBar">
    <table class="searchContent">
      <tr>
        <td>
          学生姓名：<input type="text" name="keyword" />
        </td>
        <td>
          学生编号：<input type="text" name="keyword" />
        </td>
        <td>
          总分：<input type="number" name="keyword" />
        </td>
      </tr>
    </table>
    <div class="subBar">
      <ul>
        <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
      </ul>
    </div>
  </div>
  </form>
</div>
<div class="pageContent">
  <div class="panelBar">
    <ul class="toolBar">
      <li><a class="add" href="exam_score_add" target="dialog" mask="true" width="800" height="600"><span>添加</span></a></li>
      <li><a class="add" href="exam_score_addmany" target="dialog" mask="true"><span>从excel中导入</span></a></li>
      <li class="line">line</li>
      <li><a class="delete" href="exam_score_del?uid={sid_user}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
      <li><a class="edit" href="exam_score_modify?uid={sid_user}" target="dialog" mask="true" width="800" height="600"><span>修改</span></a></li>
      <li class="line">line</li>
      <li><a class="edit" href="exam_score_export" target="dialog" mask="true"><span>导出为excel</span></a></li>      
    </ul>
  </div>
  <table class="table" width="100%" layoutH="115">
    <thead>
      <tr>
        <th></th>
        <th width="8%">编号1</th>
        <th width="8%">编号2</th>
        <th width="7%">姓名</th>
        <th width="7%">课目1</th>
        <th width="7%">课目2</th>
        <th width="7%">课目3</th>
        <th width="7%">课目4</th>
        <th width="7%">课目5</th>
        <th width="7%">课目6</th>
        <th width="7%">课目7</th>
        <th width="7%">加分</th>
        <th width="10%">总分1</th>
        <th width="10%">总分2</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i<students.length; i++) { %>
        <tr target="sid_user" rel="<%= students[i].id %>">
          <td><%= students[i].id %></td>
          <td><%= students[i].code1 %></td>
          <td><%= students[i].code2 %></td>
          <td><%= students[i].name %></td>
          <td><%= students[i].score1 %></td>
          <td><%= students[i].score2 %></td>
          <td><%= students[i].score3 %></td>
          <td><%= students[i].score4 %></td>
          <td><%= students[i].score5 %></td>
          <td><%= students[i].score6 %></td>
          <td><%= students[i].score7 %></td>
          <td><%= students[i].extrascore %></td>
          <td><%= students[i].total1 %></td>
          <td><%= students[i].total2 %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  </div>
</div>
