<div class="pageContent">
  <form method="post" action="demo/common/ajaxDone.html" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <div class="pageFormContent" layoutH="56">
      <p>
        <label>系统编号：</label>
        <input name="sn" type="text" size="30" class="digits" value="<%= student.id %>"/>
      </p>
      <p>
        <label>编号：</label>
        <input name="sn" type="text" size="30" class="digits" value="<%= student.code1 %>"/>
      </p>
      <p>
        <label>姓名：</label>
        <input name="name" type="text" size="30" value="<%= student.name %>"/>
      </p>
      <p>
        <label>课目1：</label>
        <input name="name" type="text" size="30" value="<%= student.score1 %>"/>
      </p>
      <p>
        <label>课目2：</label>
        <input name="name" type="text" size="30" value="<%= student.score2 %>"/>
      </p>
      <p>
        <label>课目3：</label>
        <input name="name" type="text" size="30" value="<%= student.score3 %>"/>
      </p>
      <p>
        <label>课目4：</label>
        <input name="name" type="text" size="30" value="<%= student.score4 %>"/>
      </p>
      <p>
        <label>课目5：</label>
        <input name="name" type="text" size="30" value="<%= student.score5 %>"/>
      </p>
      <p>
        <label>课目6：</label>
        <input name="name" type="text" size="30" value="<%= student.score6 %>"/>
      </p>
      <p>
        <label>课目7：</label>
        <input name="name" type="text" size="30" value="<%= student.score7 %>"/>
      </p>
      <p>
        <label>加分：</label>
        <input name="name" type="text" size="30" value="<%= student.extrascore %>"/>
      </p>
      <p>
        <label>总分1：</label>
        <input name="name" type="text" size="30" value="<%= student.totalscore1 %>"/>
      </p>
      <p>
        <label>总分2：</label>
        <input name="name" type="text" size="30" value="<%= student.totalscore2 %>"/>
      </p>
    </div>
    <div class="formBar">
      <ul>
        <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
        <li>
          <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
        </li>
      </ul>
    </div>
  </form>
</div>
